body{
    background-color: #121212;
    color: #fff;
}

#parent{
    border: 0.5px solid red;
    display: grid;
    /* grid-template-rows: repeat(2, 60px); */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,30px);
}

.child{
    border: 1px solid rgb(255, 114, 243);
    background-color: pink;
    color: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child-6{
    /* grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5; */
    /*         RS  CS  RE CE */
    grid-area: 2 / 4 / 4 / 6;

}
.child-7{
    grid-column-start: 2;
    grid-column-end: -4;
}