#parent{
    border: 2px solid red;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.child {
    border: 2px solid blue;
    height: 40px;
    width: 40px;
}

.child-1{
    flex: 2;
    order: 1;
}
.child-2{
    flex: 1;
    order: 1;
    /* align-self: end; */
}
.child-3{
    flex: 3;
}