:root {
    --text-color: #333;
    --accent-color: #4caf50;
    --accent-hover-color: #178d1b;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

nav {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 10px 16px;
    border-radius: 6px;

}

nav h1 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 24px;

}

nav div a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    margin: 20px auto;
}

nav div a:hover {
    text-decoration: underline;
}

nav div button {
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
}

nav div button:hover {
    background-color: var(--accent-hover-color);
}


nav div a{
    display: inline;
    margin-left: 18px;
    font-size: 18px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
main .main-left{
    height: 20vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50%;
    

}
main .main-left p{
    margin-top: 20px;
}
main .main-left button{
    margin-top: 20px;
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
}
.content{
    padding: 20px;
}
.content h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.cohort-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #2c2c2c;
    padding: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 14px;
}

.card img {
    border-radius: 10px;
}

.card button {
    background-color: var(--accent-color);
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
}

.card button:hover {
    background-color: var(--accent-hover-color);
    cursor: pointer;
}